header {
  margin: 0;
  background-color: #FE8A00;
  width: 100%;
  height: 60px;
  color: white;
  cursor: pointer;
  display: flex;
  position:fixed;
  align-items: center;
  z-index: 5;
}

.phoneNum {
  padding: 7px;
  display: inline-block;
}

.phoneIcon {
  padding-left: 20px ;
}

.hText {
  text-align: center;
  display: inline;
  margin-left: 30%;
}